<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- 自定义错误页面 -->
        <customErrors mode="RemoteOnly" defaultRedirect="/error.asp" />
        <!-- HTTP 请求验证与执行超时 -->
        <httpRuntime requestValidationMode="2.0" executionTimeout="300" maxRequestLength="102400" />
    </system.web>
    
    <location path="database">
        <system.webServer>
            <!-- 拒绝所有对database目录的Web访问 -->
            <security>
                <requestFiltering>
                    <denyUrlSequences>
                        <add sequence=".mdb" />
                        <add sequence=".mde" />
                        <add sequence=".accdb" />
                        <add sequence=".accde" />
                    </denyUrlSequences>
                    <fileExtensions allowUnlisted="true">
                        <add fileExtension=".mdb" allowed="false" />
                        <add fileExtension=".mde" allowed="false" />
                        <add fileExtension=".accdb" allowed="false" />
                        <add fileExtension=".accde" allowed="false" />
                        <add fileExtension=".sql" allowed="false" />
                    </fileExtensions>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    
    <location path="includes">
        <system.webServer>
            <!-- 拒绝直接访问includes目录 -->
            <security>
                <requestFiltering>
                    <fileExtensions allowUnlisted="true">
                        <add fileExtension=".asp" allowed="false" />
                    </fileExtensions>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    
    <!-- TEMPORARY: Allow setup directory access for data migration -->
    <!--
    <location path="setup">
        <system.webServer>
            <security>
                <requestFiltering>
                    <fileExtensions allowUnlisted="true">
                        <add fileExtension=".asp" allowed="false" />
                    </fileExtensions>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    -->
    
    <system.webServer>
        <!-- HTTP安全响应头 -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Permissions-Policy" value="camera=(), microphone=(), geolocation=()" />
            </customHeaders>
        </httpProtocol>
        
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="10485760" />
                <!-- 隐藏服务器版本信息 -->
                <verbs allowUnlisted="true">
                    <add verb="OPTIONS" allowed="false" />
                    <add verb="TRACE" allowed="false" />
                    <add verb="DELETE" allowed="false" />
                    <add verb="PUT" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="Default.asp" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <asp enableParentPaths="true" scriptErrorSentToBrowser="true">
            <limits scriptTimeout="00:05:00" />
        </asp>
    </system.webServer>
</configuration>
